*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  overflow-x: hidden;
}

.title{
  color: white;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -46%);
}

h1 {
  font-size: 200%;
  top: 10%;
}

h2 {
  font-size: 150%;
  top: 20%;
}

.animation-container{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.colorBar{
  border-inline-color: white;
  border-radius: 100px;
  margin:0;
  padding: 0;
  height: 5%;
  width: 90%;
  position: absolute;
  top: 87%;
  z-index: 3;
  box-sizing: border-box;
}

.pick-color_selectedBar {
  z-index: 7;
  border-radius: 15%;
  width: 2%;
  height: 5%;
  background-color: white;
  top: 87%;
  position: absolute;
}

.audio-container{
  top: 5%;
  left: 5%;
  position: absolute;
  opacity: .5;
  width: 5%;
}